<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 40%;
        height: 50%;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
</style>
<div>
    <div class="card" style="margin-left: 28%">
        <div class="container" style="text-align:center; color: blue">
            Click the links to watch my blog
        </div>

        <div style="margin-top: 2%">1. <a href="../2019/may/7.html">7-May-2019</a></div>
        <div style="margin-top: 2%">2. <a href="../2019/may/8.html">8-May-2019</a></div>
        <div style="margin-top: 2%">3. <a href="../2019/may/9.html">9-May-2019</a></div>
        <div style="margin-top: 2%">4. <a href="../2019/may/10.html">10-May-2019</a></div>
        <div style="margin-top: 2%">5. <a href="../2019/may/11.html">11-May-2019</a></div>
        <!-- <div style="margin-top: 2%">6. <a href="../2019/2019/may/13.html">13-May-2019</a></div>
        <div style="margin-top: 2%">7. <a href="../2019/2019/may/14.html">14-May-2019</a></div> -->





    </div>
</div>