<b>
    <p>10/05/2019</p>Tamilselvan's Blog
</b>
<div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);width: 75%;transition: 0.3s;padding: 2px 16px;margin:10px">
    Today i recreated the course details page. It was nice, Because i did't used css. Only thing i used bootstrap.
    I learnt how to use grid system and i reduced the usages of utilities. I need to design more and more to get more
    knowlege.
</div>
<a href="https://gradx-app.tamilselvans.now.sh/courseDetails">Check My Course Details Page </a>
<button style="float:right;margin-right: 20%; color: blue" onclick="closewin()">close</button>

<script>
    function closewin() {
        window.close('','_self','')   // Closes the new window
    }

</script>