<b>
    <p>11/05/2019</p>Tamilselvan's Blog
</b>
<div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);width: 75%;transition: 0.3s;padding: 2px 16px;margin:10px">
    Today i developed bootstrap mobile responsive. Check my page it is given below.
</div>
<a href="https://gradx-app.tamilselvans.now.sh/courseDetails">Responsive Course Details Page </a>
<button style="float:right;margin-right: 20%; color: blue" onclick="closewin()">close</button>

<script>
    function closewin() {
        window.close('','_self','')   // Closes the new window
    }

</script>